<footer>
<nav>
    <div>
        <img src="assets/images/instagramLogo.png" alt="insta">
        <a href="https://www.instagram.com/tamuna.nadiradzebukia/">{{translations.insta}}</a>
    </div>
    <div>
        <img src="assets/images/facebookLogo.png" alt="faceB">
        <a href="https://www.facebook.com/groups/287314742113762">{{translations.FaceB}}</a>
    </div>
        <div>
        <img src="assets/images/phoneLogo.png" alt="phone">
        <a>{{translations.Phone}}</a>
    </div>
</nav>
</footer>
